@{
    ViewBag.Title = "Heroes of the Colliseum";
}

<div class="jumbotron">
    <h1>Heroes of the Colliseum</h1>
    <p class="homepara">Battle savage beasts and vicious monsters as one of our Heroic Gladiators!</p>
    <p class="lead"></p>
</div>

<div class="row homeRow">
    <a class="btn btn-default" href="/Battle/CharacterSelect">
        <div class="col-md-4">
            <h2>Battle!</h2>
            <p class="homepara">Get in the arena and battle for Glory!</p>            
            <img src="~/Images/warriorsArena.png" class="homeImage" />
        </div>
    </a>
    <a class="btn btn-default" href="/Heroes/Index">
        <div class="col-md-4">
            <h2>The Heroes</h2>
            <p class="homepara">Meet our Heroic gladiators</p>
            <img src="~/Images/ourheroes.png" class="homeImage"/>

        </div>
    </a>
    <a class="btn btn-default" href="/Monsters/Index">
        <div class="col-md-4">
            <h2>The Monsters</h2>
            <p class="homepara">Visit the horrific beasts in our Monster Menagerie!</p>
            <img src="~/Images/monsterprison.png" class="homeImage" />
        </div>
    </a>
</div>